<section class="w-75 mx-auto shadow rounded p-4 my-5">
  <h1 class="my-3 text-center">Register Now</h1>
  <form [formGroup]="registerForm" (ngSubmit)="handleForm()">

    <!-- Name Field -->
    <mat-form-field class="w-100">
      <input type="text" matInput formControlName="name" placeholder="Enter your Full Name">
      <!-- name Validation Messages -->
      <mat-error *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
        Name is required
      </mat-error>
    </mat-form-field>

    <!-- Email Field -->
    <mat-form-field class="w-100">
      <input type="email" matInput formControlName="email" placeholder="Enter your email">
      <!-- Email Validation Messages -->
      <mat-error
        *ngIf="registerForm.get('email')?.hasError('email') && !registerForm.get('email')?.hasError('required')">
        Please enter a <strong>valid</strong> email address
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field class="w-100">
      <input id="password" matInput placeholder="Enter your password" formControlName="password"
        [type]="hide() ? 'password' : 'text'" />
      @if (registerForm.get('password')?.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
      @if (registerForm.get('password')?.hasError('minlength')) {
      <mat-error>Password must be <strong>at least 6 characters</strong></mat-error>
      }
      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <!-- RePassword Field -->
    <mat-form-field class="w-100">
      <input id="rePassword" matInput placeholder="Confirm your password" formControlName="rePassword"
        [type]="hide() ? 'password' : 'text'" />
      @if (registerForm.get('rePassword')?.getError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
      @if (registerForm.get('rePassword')?.getError('mismatch')) {
      <mat-error>Password confirmation is <strong>incorrect</strong></mat-error>
      }
      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <!-- Phone Field -->
    <mat-form-field class="w-100">
      <span matTextPrefix>+2 &nbsp;</span>
      <input type="tel" matInput placeholder="01234567890">
      @if (registerForm.get('phone')?.hasError('required')) {
      <mat-error>Phone is <strong>required</strong></mat-error>
      }
      @if (registerForm.get('phone')?.getError('pattern')) {
      <mat-error>Accept only <strong>Egyptian</strong> phone numbers</mat-error>
      }
    </mat-form-field>

    <!-- Submit Button -->
    <button [disabled]="registerForm.invalid" class="main-btn mt-2">
      Register <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
    </button>
  </form>

  <!-- Error Message -->
  <!-- <p *ngIf="errMsg" class="alert alert-danger mb-0">{{errMsg}}</p> -->
</section>
