<div class="container-xl">
  <h1>Bakery</h1>
  <div class="content">
    <div *ngFor="let product of bakeryProducts" class="card item">
      <img [src]="product.image" class="card-img-top" [alt]="product.name">
      @if( product.amount <= 10 && product.amount > 0) {
        <span class="warning-label">
          Low in Stock
        </span>
        }
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
          <span>{{product.price | currency: 'EGP': 'symbol-narrow'}}</span>
          <i class="fa-solid fa-cart-plus cart-icon"></i>
      </div>
    </div>
  </div>
</div>