$dark-color: #543310;
$alt-dark-color: #74512d;
$light-color: #f8f4e1;
$light-background: rgba(248, 244, 225, 0.8);
$alt-light-color: #af8f6f;
$section-padding: 90px;

.container-xl {
  padding: $section-padding 0;
  h1 {
    text-align: center;
    color: $dark-color;
    margin: 0 0 60px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 100px;
      background-color: $dark-color;
    }
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    gap: 30px;
    .card {
      border-color: $alt-dark-color;
      padding-top: 25px;
    }
    .item {
      text-align: center;
      color: $dark-color;
      transition: 0.3s ease;
      position: relative;
      img {
        margin: auto;
        width: 65% !important;
        border: none;
        object-fit: contain;
        transition: transform 0.5s ease;
        &.card-img-top {
          border-radius: 0;
          border: none;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      .warning-label {
        position: absolute;
        top: 0;
        right: 15px;
        width: 40px;
        padding: 10px 10px 30px;
        font-size: 16px;
        font-weight: 500;
        writing-mode: vertical-lr;
        background-color: #dc3545;
        color: white;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          border-bottom: 15px solid white;
          border-style: solid;
          border-color: transparent transparent white;
          border-width: 20px;
        }
      }
      h5 {
        text-align: center;
        font-size: 16px;
      }
      span {
        display: block;
        font-weight: 500;
        font-size: 20px;
      }
      .cart-icon {
        padding: 13px;
        margin-top: 30px;
        border-radius: 50%;
        font-size: 20px;
        color: $alt-dark-color;
        box-shadow: $dark-color 0px 0px 8px -2px;
        transition: color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        &:hover {
          color: $dark-color;
          transform: translateY(-5px);
        }
      }
      &:hover {
        transform: translateY(-10px);
        box-shadow: $dark-color 0px 2px 8px -5px,
          $alt-light-color 0px 4px 5px 0px, #896c50 0px 1px 10px 0px;
      }
    }
  }
}
