<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    
      
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/slide1.jpg" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="images/slide6.jpg" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="images/slide3.jpg" class="d-block w-100" alt="Slide 3">
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div>
<br>
    <br>
    <br>
    <h1>Featured Products</h1>
  
    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- First Item -->
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <div class="card mx-2"> 
              <img src="/images/products/bakery-2.png" class="card-img-top" alt="Product 1"> 
              <div class="card-body text-center">
                <p class="card-text">Pound Cake</p>
                <button class="btn btn-primary add-to-cart" style="background-color: rgb(84, 51, 16);">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Second Item -->
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="card mx-2"> 
              <img src="/images/products/bakery-3.png" class="card-img-top" alt="Product 2"> 
              <div class="card-body text-center">
                <p class="card-text">Mini Sandwiches(10 Pieces)</p>
                <button class="btn btn-primary add-to-cart" style="background-color: rgb(84, 51, 16);">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Third Item -->
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="card mx-2"> 
              <img src="/images/products/bakery-7.png" class="card-img-top" alt="Product 3"> 
              <div class="card-body text-center">
                <p class="card-text">White Cheese Pate</p>
                <button class="btn btn-primary add-to-cart" style="background-color: rgb(84, 51, 16);">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Fourth Item -->
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="card mx-2"> 
              <img src="/images/products/bakery-8.png" class="card-img-top" alt="Product 4"> 
              <div class="card-body text-center">
                <p class="card-text">Roumi Cheese Pate</p>
                <button class="btn btn-primary add-to-cart" style="background-color: rgb(84, 51, 16);">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Fifth Item -->
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="card mx-2"> 
              <img src="/images/products/bakery-9.png" class="card-img-top" alt="Product 5"> 
              <div class="card-body text-center">
                <p class="card-text">Boughasha</p>
                <button class="btn btn-primary add-to-cart" style="background-color: rgb(84, 51, 16);">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Sixth Item -->
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="card mx-2"> 
              <img src="/images/products/bakery-10.png" class="card-img-top" alt="Product 6"> 
              <div class="card-body text-center">
                <p class="card-text">Italian Pizza</p>
                <button class="btn btn-primary add-to-cart" style="background-color: rgb(84, 51, 16);">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    

  
      <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      
    </div>


  <br>
<br>
<br>
<div>

  
  <h1>Categories</h1>
  <div class="container mt-5">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="category-card">
                <img src="/images/products/Bakery Category.jpeg" alt="Category 1">
                <button class="shop-now-btn">Shop Now</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category-card">
                <img src="/images/products/Chocolates Category.jpeg" alt="Category 2">
                <button class="shop-now-btn">Shop Now</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category-card">
                <img src="/images/products/Cakes Category.jpeg" alt="Category 3">
                <button class="shop-now-btn">Shop Now</button>
            </div>
        </div>
        
        <div class="col-md-8 mt-4">
            <div class="category-card" style="width: fit-content;">
                <img src="/images/products/Oriental Desserets.jpeg"  alt="Category 4">
                <button class="shop-now-btn">Shop Now</button>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="category-card">
                <img src="/images/products/Yameesh.png" alt="Category 5">
                <button class="shop-now-btn">Shop Now</button>
            </div>
        </div>
       
    </div>
</div>
</div>
<br>
<br>










  
  