<div class="container-xl product-section">
  <h1>Chocolates</h1>
  <div class="content">
    <div *ngFor="let product of chocolateProducts" class="card item">
      <img [src]="product.image" class="card-img-top" [alt]="product.name">
      @if( product.amount == 0) {
      <span class="warning-label bg-danger">
        Out of Stock
      </span>
      }@else if( product.amount <= 10 && product.amount> 0) {
        <span class="warning-label bg-warning">
          Low in Stock
        </span>
        }
        <div class="card-body">
          <h3 class="card-title">{{product.name}}</h3>
          <span>
            @if(product.discount > 0){
            {{calcDiscount(product.price,product.discount) | currency: 'EGP': 'symbol-narrow'}}
            <del> {{product.price | currency: 'EGP': 'symbol-narrow'}}</del>
            }@else{
            <span>{{product.price | currency: 'EGP': 'symbol-narrow'}}</span>
            }
          </span>
          <i class="fa-solid fa-cart-plus cart-icon"></i>
        </div>
    </div>
  </div>
</div>