$dark-color: #543310;
$alt-dark-color: #74512d;
$light-color: #f8f4e1;
$alt-light-color: #af8f6f;
$error-color: #dc3545;
$main-transition: 0.8s;

section {
  width: 80%;
  background-color: $light-color;
  padding: 32px;

  h1 {
    color: $dark-color;
    font-weight: 600;
  }

  form {
    input {
      font-size: 18px;
      color: $dark-color;
      caret-color: $dark-color;
      &::placeholder {
        color: $alt-light-color;
      }
      &::selection {
        background-color: $dark-color;
        color: $light-color;
      }
    }
  }

  div:last-child {
    .main-btn {
      border: none;
      cursor: pointer;
      color: $light-color !important;
      background-color: $dark-color !important;
      padding: 6px 16px;
      transition: background-color $main-transition;
      border-radius: 5px;
      opacity: 0.95;

      &:hover {
        opacity: 1;
      }

      &:disabled {
        opacity: 0.8;
        color: $light-color !important;
        cursor: not-allowed;
      }
    }
    .btn {
      color: $light-color !important;
      background-color: $dark-color !important;
    }
    a {
      cursor: pointer;
    }
  }
}

@media (max-width: 991px) {
  section {
    width: 95%;
    padding: 28px;
    &>h1 {
      font-size: 52px !important;
    }
  }
}

@media (max-width: 767px) {
  section {
    width: 100%;
    padding: 20px;
    &>h1 {
      font-size: 42px !important;
    }
  }
}

@media (max-width: 399px) {
  section {
    padding: 15px 10px;
    &>h1 {
      font-size: 36px !important;
    }
  }
}
