<section class="w-75 mx-auto shadow rounded p-4 my-5">
  <h1 class="my-3 text-center">Login Now</h1>
  <form class="w-100" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <mat-form-field class="w-100">
      <input type="email" matInput formControlName="email" placeholder="Enter your email">
      <!-- Email Validation Messages -->
      <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
        Please enter a <strong>valid</strong> email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput placeholder="Enter your password" formControlName="password"
        [type]="hide() ? 'password' : 'text'" />
      @if (loginForm.get('password')?.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <!-- Submit Button and Link -->
    <div class="d-flex justify-content-between align-items-center mt-2">
      <button [disabled]="loginForm.invalid" class="main-btn">
        Login <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
      </button>
      <a routerLink="/forget" class="link-primary">Forget Password</a>
    </div>
  </form>
</section>
