/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

$dark-color: #543310;
$alt-dark-color: #74512d;
$light-color: #f8f4e1;
$alt-light-color: #af8f6f;
$error-color: #dc3545;

// $alt-dark-color: #74512D;
// $light-color: #f0f3f2;
$shadow: #543310 0px 2px 4px -1px, #af8f6f 0px 4px 5px 0px,
  #896c50 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #6c4e31;
$main-transition: 0.8s;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $light-color;
}

::-webkit-scrollbar-thumb {
  background-color: #745c44;
  border-radius: 50px;
  box-shadow: 0 0 20px 50px #543310;
  border-radius: 2px;
}

.nav-link {
  transition: unset !important;
}

.active-link {
  background-color: $alt-dark-color;
  color: #fff !important;
  border-radius: 5px;
}
body {
  font-family: $font-family;
}

.rating-color {
  color: $rating-color;
}

.cursor-pointer {
  cursor: pointer;
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: $alt-dark-color;
}

.text-main-light {
  color: $light-color;
}

.bg-main {
  background-color: $alt-dark-color !important;
}

.bg-main-light {
  background-color: $light-color !important;
}

.btn-close{
  color: $dark-color !important;
  opacity: 0.75;
  &:hover{
    opacity: 1;
  }
  &:focus{
    box-shadow: none !important;
  }
}


// .main-btn {
//   cursor: pointer;
//   color: $light-color !important;
//   background-color: $dark-color !important;
//   padding: 6px 16px;
//   transition: background-color $main-transition;
//   border-radius: 5px;
//   opacity: 0.95;

//   &:hover {
//     opacity: 1;
//   }

//   &:disabled {
//     opacity: 0.8;
//     color: $light-color !important;
//     cursor: not-allowed;
//   }
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
